<p>Chère Madame, cher Monsieur,</p>

<p>Par la présente, nous vous confirmons la réservation de {{ participant.reservation.nbEmplacements }} emplacement(s) à votre nom à la 14ème grande Brocante de Heusy qui se déroulera le dimanche 8 juin 2014 sur les parkings du Carrefour-Brico et avenue de Spa.</p>

<p>Cette réservation deviendra définitive dès réception de votre paiement. Les emplacements qui ne seraient pas payés pour le 20 avril 2013 pourront être remis en location.  Attention : pas de remboursement en cas de désistement.  Lors du virement, merci de bien mentionner la communication indiquée ci-dessous, sans quoi nous ne pourrons pas confirmer votre réservation.</p>

<p>
Virement<br />
-------------------<br />
<b>Compte:</b> BE08 0017 1425 3213<br />
<b>Somme à payer:</b> {{ prix }}€ (8.5€/emplacement)<br />
<b>Communication du virement:</b> <i>{{ participant.reservation.identifiant }}</i><br />
--------------
</p>

<p><b>Votre numéro d'emplacement, ainsi que toutes les informations complémentaires, vous seront communiqués quelques semaines avant l'évènement.</b></p>

<p>D'ici là, n'hésitez pas à nous contacter sur brocanteheusy2014@gmail.com pour toute question relative à la brocante.</p>

<p>
Bien à vous,<br />
Les organisateurs de la brocante de Heusy<br />
0494/65.55.33 (seulement pendant les heures d'ouverture de la ligne, le samedi et dimanche, de 14h à 17h)<br />
brocanteheusy2014@gmail.com
Avenue des Grands Champs, 25<br />
4802 - HEUSY
</p>

<p><i>Ceci est un mail automatique</i></p>