<p>Chère Madame, cher Monsieur,</p>

Par la présente, nous vous confirmons la réservation de {{ participant.reservation.nbEmplacements }} emplacement(s) à votre nom à la 14ème grande Brocante de Heusy qui se déroulera le dimanche 8 juin 2014 sur les parkings du GB-Brico et avenue de Spa.\n\n

Cette réservation deviendra définitive dès réception de votre paiement. Les emplacements qui ne seraient pas payés pour le 20 mai 2013 pourront être remis en location.  Attention : pas de remboursement en cas de désistement.  Lors du virement, merci de bien mentionner la communication indiquée ci-dessous, sans quoi nous ne pourrons pas confirmer votre réservation.\n\n

Virement\n
--------------\n
Compte: 
Somme à payer: {{ prix }}€ (8.5€/emplacement)
Communication du virement: {{ participant.reservation.identifiant }}
--------------

Votre numéro d'emplacement, ainsi que toutes les informations complémentaires, vous seront communiqués quelques semaines avant l'évènement.

D'ici là, n'hésitez pas à nous contacter sur brocante@heusy.org pour toute question relative à la brocante.


Bien à vous,
Les organisateurs de la brocante de Heusy
0472 / 326 203 (seulement pendant les heures d'ouverture de la ligne, le samedi et dimanche, de 14h à 17h)
Avenue de Thiervaux, 4
4802 - HEUSY